body {
    height: 100%;
}

.main {
    gap: 3rem;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 100%;
}

.comment-submission {
    width: 100%;
}

.input-box:hover, .input-box:focus {
    border: solid #004990;
}

.input-box {
    width: 100%;
}

.inputs {
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.first-last {
    font-size: x-small;
}

.submit {
    width: 100%;
    background-color: #004990;
    color: white;
    border-radius: 0.5rem;
    padding: 8px;
}

.submit:hover {
    background-color: #82A6C9;
    color: black;
}

.image-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        gap: 10%;
    }

    .title {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .desktop-box-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}