.image-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.image {

}

.comment-submission {
    width: 100%;
}

h1 {
    text-align: center;
}

.submit {
    width: 100%;
    background-color: #004990;
    color: white;
    border-radius: 0.5rem;
    padding: 8px;
}

.submit:hover {
    background-color: #82A6C9;
    color: black;
}

.first-last {
    font-size: x-small;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}