.image-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.comment-submission {
    width: 100%;
}

.input-box:hover, .input-box:focus {
    border: solid #004990;
}

.input-box {
    width: 100%;
}

.inputs {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.submit {
    width: 100%;
    background-color: #004990;
    color: white;
    border-radius: 0.5rem;
    padding: 8px;
}

.submit:hover {
    background-color: #82A6C9;
    color: black;
}

.first-last {
    font-size: x-small;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 100%;
}

main {
    display: flex;
    justify-self: center;
    flex-direction: column;
    width: 75%;
    margin-top: 45px;
    margin-bottom: 50px;
    gap: 0.5rem;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
    }

    .desktop-box-1 {
        grid-column: 1/2;
        grid-row: 1/3;
    }
}