.grid-container-curr {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px repeat(7, 170px 100px);
    grid-gap: 15px;
    grid-template-areas:
        "title title"
        "anneke adrianna"
        "anneke_d adrianna_d"
        "sarah allison"
        "sarah_d allison_d"
        "j kellie"
        "j_d kellie_d"
        "jazmin olivia"
        "jazmin_d olivia_d"
        "nathaly nate"
        "nathaly_d nate_d"
        "garrett isha"
        "garrett_d isha_d"
        "megan katie"
        "megan_d katie_d"
}

.title {
    grid-area: title;
    text-align: center;
}

.anneke {
    grid-area: anneke;
    grid-row: 2/3;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.anneke_d {
    grid-area: anneke_d;
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.adrianna {
    object-fit: cover;
    width: 100%;
    max-height: 170px;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-area: adrianna;
}

.adrianna_d {
    grid-area: adrianna_d;
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;  
    line-height: .8;
    margin: 5px 0;
}

.sarah {
    grid-area: sarah;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
    grid-row: 4/5;
    grid-column: 1/2;
}

.sarah_d {
    grid-area: sarah_d;
    grid-row: 5/6;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.allison {
    grid-area: allison; 
    grid-row: 4/5;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.allison_d {
    grid-area: allison_d;
    grid-row: 5/6;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.j {
    grid-area: j;
    grid-row: 6/7;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.j_d {
    grid-area: j_d;
    grid-row: 7/8;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.kellie {
    grid-area: kellie;
    grid-row: 6/7;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.kellie_d {
    grid-area: kellie_d;
    grid-row: 7/8;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.jazmin {
    grid-area: jazmin;
    grid-row: 8/9;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.jazmin_d {
    grid-area: jazmin_d;
    grid-row: 9/10;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.olivia {
    grid-area: olivia;
    grid-row: 8/9;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;   
}

.olivia_d {
    grid-area: olivia_d;
    grid-row: 9/10;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.nathaly {
    grid-area: nathaly;
    grid-row: 10/11;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;   
}

.nathaly_d {
    grid-area: nathaly_d;
    grid-row: 11/12;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.nate {
    grid-area: nate;
    grid-row: 10/11;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.nate_d {
    grid-area: nate_d;
    grid-row: 11/12;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.garrett {
    grid-area: garrett;
    grid-row: 12/13;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.garrett_d {
    grid-area: garrett_d;
    grid-row: 13/14;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.isha {
    grid-area: isha;
    grid-row: 12/13;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.isha_d {
    grid-area: isha;
    grid-row: 13/14;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.megan {
    grid-area: megan;
    grid-row: 14/15;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.megan_d {
    grid-area: megan_d;
    grid-row: 15/16;
    grid-column: 1/2;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.katie {
    grid-area: katie;
    grid-row: 14/15;
    grid-column: 2/3;
    object-fit: cover;
    width: 100%;
    max-height: 170px;
}

.katie_d {
    grid-area: katie_d;
    grid-row: 15/16;
    grid-column: 2/3;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

@media screen and (min-width: 750px) {
    .grid-container-curr {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px repeat(5, 240px 100px);
        grid-gap: 15px;
        grid-template-areas:
            "title title title"
            "anneke adrianna sarah"
            "anneke_d adrianna_d sarah_d"
            "allison j kellie"
            "allison_d j_d kellie_d"
            "jazmin olivia nathaly"
            "jazmin_d olivia_d nathaly_d"
            "nate garrett isha"
            "nate_d garrett_d isha_d"
            "megan katie"
            "megan_d katie_d"
    }

    .anneke {
        max-height: 240px;
    }

    .adrianna {
        max-height: 240px;
    }

    .title {
        grid-column: 1/4;
        justify-content: center;
    }

    .sarah {
        grid-row: 2/3;
        grid-column: 3/4;
        max-height: 240px;
    }

    .sarah_d {
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .allison {
        grid-row: 4/5;
        grid-column: 1/2;
        max-height: 240px;
    }

    .allison_d {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .j {
        grid-row: 4/5;
        grid-column: 2/3;
        max-height: 240px;
    }

    .j_d {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    .kellie {
        grid-row: 4/5;
        grid-column: 3/4;
        max-height: 240px;
    }

    .kellie_d {
        grid-row: 5/6;
        grid-column: 3/4;
        max-height: 240px;
    }

    .jazmin {
        grid-row: 6/7;
        grid-column: 1/2;
        max-height: 240px;
    }

    .jazmin_d {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .olivia {
        grid-row: 6/7;
        grid-column: 2/3;
        max-height: 240px;
    }

    .olivia_d {
        grid-row: 7/8;
        grid-column: 2/3;
    }

    .nathaly {
        grid-row: 6/7;
        grid-column: 3/4;
        max-height: 240px;
    }

    .nathaly_d {
        grid-row: 7/8;
        grid-column: 3/4;
    }

    .nate {
        grid-row: 8/9;
        grid-column: 1/2;
        max-height: 240px;
    }

    .nate_d {
        grid-row: 9/10;
        grid-column: 1/2;
    }

    .garrett {
        grid-row: 8/9;
        grid-column: 2/3;
        max-height: 240px;
    }

    .garrett_d {
        grid-row: 9/10;
        grid-column: 2/3;
    }

    .isha {
        grid-row: 8/9;
        grid-column: 3/4;
        max-height: 240px;
    }

    .isha_d {
        grid-row: 9/10;
        grid-column: 3/4;
    }

    .megan {
        grid-row: 10/11;
        grid-column: 1/2;
        max-height: 240px;
    }

    .megan_d {
        grid-row: 11/12;
        grid-column: 1/2;
    }

    .katie {
        grid-row: 10/11;
        grid-column: 2/3;
        max-height: 240px;
    }

    .katie_d {
        grid-row: 11/12;
        grid-column: 2/3;
    }
}