.grid-container-exec {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(3, 240px 190px) repeat(6, 240px 100px);
    grid-gap: 15px;
    grid-template-areas:
        "title"
        "kellie"
        "kellie_d"
        "nathaly"
        "nathaly_d"
        "allison"
        "allison_d"
        "jazmin"
        "jazmin_d"
        "adrianna"
        "adrianna_d"
        "megan"
        "megan_d"
        "olivia"
        "olivia_d"
        "kristelle"
        "kristelle_d"
        "katie"
        "katie_d";
}

.title {
    grid-area: title;
    text-align: center;
    margin-bottom: 45px;
    grid-row: 1/2;
    grid-column: 1/3;
}

.kellie {
    grid-area: kellie;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.kellie_d {
    grid-area: kellie_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.nathaly {
    grid-area: nathaly;
    object-fit: cover;
    width: 100%;
    max-height: 240px;

}

.nathaly_d {
    grid-area: nathaly_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.allison {
    grid-area: allison;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.allison_d {
    grid-area: allison_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.jazmin {
    grid-area: jazmin;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.jazmin_d {
    grid-area: jazmin_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
    padding-top: 5px;
}

.adrianna {
    grid-area: adrianna;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.adrianna_d {
    grid-area: adrianna_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.megan {
    grid-area: megan;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.megan_d {
    grid-area: megan_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.olivia {
    grid-area: olivia;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.olivia_d {
    grid-area: olivia_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
    padding-top: 5px;
}

.kristelle {
    grid-area: kristelle;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.kristelle_d {
    grid-area: kristelle_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

.katie {
    grid-area: katie;
    object-fit: cover;
    width: 100%;
    max-height: 240px;
}

.katie_d {
    grid-area: katie_d;
    text-align: center;
    line-height: .8;
    margin: 5px 0;
}

@media screen and (min-width: 750px) {
    .grid-container-exec {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px repeat(3, 280px) repeat(3, 280px 100px);
        grid-gap: 40px 25px;
        grid-template-areas:
            "title title"
            "kellie kellie_d"
            "nathaly nathaly_d"
            "allison allison_d"
            "jazmin adrianna"
            "jazmin_d adrianna_d"
            "megan olivia"
            "megan_d olivia_d"
            "kristelle katie"
            "kristelle_d katie_d";
    }

    .title {
        margin-bottom: 5px;
    }

    .kellie {
        max-height: 280px;
    }

    .kellie_d {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nathaly {
        max-height: 280px;
    }

    .nathaly_d {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .allison {
        max-height: 280px;
    }

    .allison_d {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .jazmin {
        max-height: 280px;
    }

    .jazmin_d {
        padding-top: 0px;
    }

    .adrianna {
        max-height: 280px;
    }

    .megan {
        max-height: 280px;
    }

    .olivia {
        max-height: 280px;
    }

    .olivia_d {
        padding-top: 0;
    }

    .kristelle {
        max-height: 280px;
    }

    .katie {
        max-height: 280px;
    }
}