/* general about pages css*/

.symbols-header {
    align-self: flex-start;
}

.align-header {
    text-align: center;
}

.about-section {
    margin-top: 35px;
}

.about-h3 {
    margin-bottom: 15px;
}

/* about tbs and iota lambda css*/

.about-tbs-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-tbs-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-tbs-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.regular-crest {
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
}

.tbs-logo {
    height: 125px;
    width: 300px;
    margin-bottom: 30px;
}

.beta-pic {
    height: 200px;
    width: 300px;
    margin-bottom: 30px;
}

.wim-pic {
    height: 250px;
    width: 300px;
    margin-bottom: 30px;
}

.small-pics {
    margin: 20px 0px;
}

.small-pics-caption {
    margin-bottom: 20px;
}

.symbols-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* about three pillars css*/

.about-three-pillars-h1 {
    margin-bottom: 10px;
}

.about-three-pillars-pics {
    margin: 20px 0px;
    height: 250px;
    align-self: center;
}

.about-three-pillars-section {
    display: flex;
    flex-direction: column;
}