.main {
    gap: 1rem;
}

.listserv-link {
    color: black;
}

.listserv {
    text-align: center;
}

.newsletters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.monthly-text {
    text-align: center;
}

.archive {
    margin: 0 auto;
}

.fall-2024-box {
    display: flex;
    justify-content: center;
    background-color: #004990;
    border-radius: 0.5rem;
    padding: 8px;
}

.fall-2024 {
    color: white;
    text-decoration: none;
}