.main {
    gap: 1rem;
}

.listserv-link {
    color: black;
}

.listserv {
    text-align: center;
}

.newsletters {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.monthly-text {
    text-align: center;
}

h1 {
    text-align: center;
}

.archive {
    margin: 0 auto;
}

.fall-2024-box {
    display: flex;
    justify-content: center;
    background-color: #004990;
    border-radius: 0.5rem;
    padding: 8px;
}

.fall-2024-box:hover {
    background-color: #82A6C9;
}

a:focus .fall-2024-box{
    background-color: #82A6C9;
}

.fall-24 {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .main-page {
        width: 100%;
        margin-top: 45px;
        margin-bottom: 100px;
        display: grid;
        gap: 10%;
        grid-template-areas:
        "title title" 
        "newsletter box";
    }

    .title-container {
        grid-area: title;
        width: 100%;
    }

    .box-1 {
        grid-area: box;
        display: grid;
        grid-template-areas: 
        "listserv"
        "archive";
    }

    .main-listserv {
        grid-area: listserv;
        padding-top: 20%;
        z-index: 0;
    }

    .archive {
        grid-area: archive;
        z-index: 0;
    }

    .main-newsletters {
        grid-area: newsletter;
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .next-newsletters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem;
    }
}
