.nav-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    max-height: 250px;
}

.grid-container-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 250px 
}